<p-table [columns]="cols" [rows]="10" [value]="dataGrid" [paginator]="true" [totalRecords]="dataGrid.lenght" (onPage)="onPage($event)">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>{{rowData["name"]}}</td>
      <td>{{rowData["country"]}}</td>
      <td align="center"><button pButton type="button" icon="fa fa-cloud" (click)="openForecast(rowData)"></button></td>
    </tr>
  </ng-template>
</p-table>