<form [formGroup]="formGroup" novalidate>
  <div class="ui-g-12 ui-md-6 required">
    <label for="name">Nome</label>
    <input type="text" id="name" name="name" pInputText formControlName="name" autocomplete="off" />
  </div>
  <div class="ui-g-12 ui-md-6 required">
    <label for="uf">UF</label>
    <input type="text" id="uf" name="uf" pInputText formControlName="uf" autocomplete="off" />
  </div>
  <div>
    <button id="send" type="submit" pButton (click)="send()">Enviar</button>
  </div>
</form>